# Đồ án cuối kỳ

**Các thành viên:**
1. MSSV: 1712496 - Họ tên: Nguyễn Trần Công Huy
2. MSSV: 1712556 - Họ tên: Hoàng Huy Lịch

## Import thư viện

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Thu thập dữ liệu

Trong đồ án lần này, nhóm em sẽ sử dụng dữ liệu đã được thu thập sẵn là file "*data.csv*"; đây là dữ liệu về số lượng người tự tử thống kê theo từng năm trên từng quốc gia từ 1985 đến 2016. <br>
Dữ liệu này đã được public trên [Kaggle](https://www.kaggle.com/), gốc ở [đây](https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016). <br>
Tập dữ liệu này được merged từ 4 nguồn khác nhau với key là thời gian và vị trí địa lý, lần lượt gồm:
- [United Nations Development Program. (2018). Human development index (HDI)](http://hdr.undp.org/en/indicators/137506).
- [World Bank. (2018). World development indicators: GDP (current US$\$$) by country: 1985 to 2016](http://databank.worldbank.org/data/source/world-development-indicators#).
- [[Szamil]. (2017). Suicide in the Twenty-First Century [dataset]](https://www.kaggle.com/szamil/suicide-in-the-twenty-first-century/notebook).
- [World Health Organization. (2018). Suicide prevention](https://www.who.int/health-topics/suicide).

## Khám phá dữ liệu

### Đọc dữ liệu từ file .csv vào Dataframe

In [2]:
suicide_df = pd.read_csv('data.csv')
suicide_df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [3]:
df=suicide_df[suicide_df['country']=='Japan']
df=df.groupby('generation').sum()
df

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
generation,,,,,,
Boomers,135920,241420,985614309,1568.69,15.458,2449336
G.I. Generation,87610,90657,236169238,2043.49,9.810,1291378
Generation X,175840,133292,872859266,1227.80,25.594,3089636
Generation Z,36198,657,101738852,11.63,8.878,783144
Millenials,144322,42991,478623442,634.21,22.874,2882608
Silent,164110,297885,1006019737,2539.41,20.742,3043786

### Dữ liệu gồm bao nhiêu dòng và cột?

In [4]:
n_columns=len(suicide_df.columns)
n_rows=len(suicide_df.index)
print('columns: ',n_columns)
print('rows: ',n_rows)

columns:  12
rows:  27820

Dữ liệu có 27832 dòng và 12 cột

### Mỗi dòng có ý nghĩa gì?

### Dữ liệu có các dòng bị lặp không?

### Mỗi cột có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

In [ ]:
Country: Column representing countries (string)

Year: Column representing years (integer)

Sex: Column representing genres (string)

Age: Column representing ages (string)

Suicides_no: Column representing the number of suicides (integer)

Population: Column representing the population (integer)

Suicides / 100k pop: Column that represents the number of suicides per 100 thousand inhabitants (float)

Country-year: Column that represents (string)

HDI for year: Column that represents the HDI in each year (float)

Gdp_for_year($): Column representing GDP in each year (string)

Gdp_per_capita($): Column representing GDP per capita (float)

Generation: Column that represents the generation (string)

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [5]:
suicide_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

=> gdp_for_year ($)  có vẻ có kiểu dữ liệu sai

### Với mỗi cột có kiểu dữ liệu dạng số (numeric), các giá trị được phân bố như thế nào?

In [6]:
suicide_df.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

**Số lượng, tỉ lệ các giá trị thiếu?**

In [7]:
#tỷ lệ giá trị thiếu của cột HDI for years
ratio=(1-8364/n_rows)*100
ratio

69.93529834651329

tỷ lệ thiếu của cột HDI per year lên tới gần 70%

**Min? max? → Dựa vào min, max, và ý nghĩa của cột để
phát hiện giá trị bất hợp lệ**

**Min? max? → Dựa vào min, max, và ý nghĩa của cột để
phát hiện giá trị bất hợp lệ**

### Với mỗi cột có kiểu dữ liệu phân loại (categorical), các giá trị được phân bố như thế nào?

In [8]:
len(suicide_df.country)

27820

In [9]:
suicide_df.sex.value_counts()

female    13910
male      13910
Name: sex, dtype: int64

In [10]:
suicide_df.age.value_counts()

75+ years      4642
15-24 years    4642
35-54 years    4642
25-34 years    4642
55-74 years    4642
5-14 years     4610
Name: age, dtype: int64

In [11]:
suicide_df.generation.value_counts()

Generation X       6408
Silent             6364
Millenials         5844
Boomers            4990
G.I. Generation    2744
Generation Z       1470
Name: generation, dtype: int64

**Số lượng, tỉ lệ các giá trị thiếu?**

**Min? max? → Dựa vào min, max, và ý nghĩa của cột để
phát hiện giá trị bất hợp lệ**

### Vấn đề cần tiền xử lý

## Tiền xử lý

### - xóa cột HDI per year, country year

In [12]:
suicide_df.drop(['HDI for year'], axis=1, inplace=True)
suicide_df.drop(['country-year'], axis=1, inplace=True)
suicide_df

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,"63,067,077,179",2309,Boomers

### - đổi tên cột GPD per year, GDP per capita

In [15]:
suicide_df.rename(columns={' gdp_for_year ($) ':'gdp_for_year','gdp_per_capita ($)':'gdp_per_capita'},inplace=True)
#suicide_df.rename(columns={'gdp_for_year ($)':'gdp_for_year'},inplace=True)
suicide_df

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year,gdp_per_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,"63,067,077,179",2309,Boomers

### - xử lý GDP for year để phù hợp vs tính toán

In [16]:
suicide_df['gdp_for_year'] = suicide_df['gdp_for_year'].str.replace(",", "").astype("int")
suicide_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            27820 non-null  object
 1   year               27820 non-null  int64
 2   sex                27820 non-null  object
 3   age                27820 non-null  object
 4   suicides_no        27820 non-null  int64
 5   population         27820 non-null  int64
 6   suicides/100k pop  27820 non-null  float64
 7   gdp_for_year       27820 non-null  int64
 8   gdp_per_capita     27820 non-null  int64
 9   generation         27820 non-null  object
dtypes: float64(1), int64(5), object(4)
memory usage: 2.1+ MB

## Các câu hỏi có ý nghĩa

**Sau khi đã khám phá dữ liệu và hiểu hơn về dữ liệu, ta thấy có một số câu hỏi có thể được trả lời bằng dữ liệu:**
1. 
2.
3.
4.
**Lợi ích khi ta trả lời được các câu hỏi trên:**
1. 
2.
3.
4.

## Tiền xử lý để trả lời câu hỏi nếu cần thiết

## Phân tích dữ liệu để trả lời các câu hỏi trên