# Đồ án cuối kỳ

**Các thành viên:**
1. MSSV: 1712496 - Họ tên: Nguyễn Trần Công Huy
2. MSSV: 1712556 - Họ tên: Hoàng Huy Lịch

## Import thư viện

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Thu thập dữ liệu

Trong đồ án lần này, nhóm em sẽ sử dụng dữ liệu đã được thu thập sẵn là file "*data.csv*"; đây là dữ liệu về số lượng người tự tử thống kê theo từng năm trên từng quốc gia từ 1985 đến 2016. <br>
Dữ liệu này đã được public trên [Kaggle](https://www.kaggle.com/), gốc ở [đây](https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016). <br>
Tập dữ liệu này được merged từ 4 nguồn khác nhau với key là thời gian và vị trí địa lý, lần lượt gồm:
- [United Nations Development Program. (2018). Human development index (HDI)](http://hdr.undp.org/en/indicators/137506).
- [World Bank. (2018). World development indicators: GDP (current US$\$$) by country: 1985 to 2016](http://databank.worldbank.org/data/source/world-development-indicators#).
- [[Szamil]. (2017). Suicide in the Twenty-First Century [dataset]](https://www.kaggle.com/szamil/suicide-in-the-twenty-first-century/notebook).
- [World Health Organization. (2018). Suicide prevention](https://www.who.int/health-topics/suicide).

## Khám phá dữ liệu

### Đọc dữ liệu từ file .csv vào Dataframe

In [2]:
suicide_df = pd.read_csv('data.csv')
suicide_df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

### Dữ liệu gồm bao nhiêu dòng và cột?

### Mỗi dòng có ý nghĩa gì?

### Dữ liệu có các dòng bị lặp không?

### Mỗi cột có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

### Với mỗi cột có kiểu dữ liệu dạng số (numeric), các giá trị được phân bố như thế nào?

**Số lượng, tỉ lệ các giá trị thiếu?**

**Min? max? → Dựa vào min, max, và ý nghĩa của cột để
phát hiện giá trị bất hợp lệ**

**Min? max? → Dựa vào min, max, và ý nghĩa của cột để
phát hiện giá trị bất hợp lệ**

### Với mỗi cột có kiểu dữ liệu phân loại (categorical), các giá trị được phân bố như thế nào?

**Số lượng, tỉ lệ các giá trị thiếu?**

**Min? max? → Dựa vào min, max, và ý nghĩa của cột để
phát hiện giá trị bất hợp lệ**

### Vấn đề cần tiền xử lý

## Tiền xử lý

## Các câu hỏi có ý nghĩa

**Sau khi đã khám phá dữ liệu và hiểu hơn về dữ liệu, ta thấy có một số câu hỏi có thể được trả lời bằng dữ liệu:**
1. 
2.
3.
4.
**Lợi ích khi ta trả lời được các câu hỏi trên:**
1. 
2.
3.
4.

## Tiền xử lý để trả lời câu hỏi nếu cần thiết

## Phân tích dữ liệu để trả lời các câu hỏi trên